<!DOCTYPE html>
<html>
    <head>
        <title>Food Judge</title>
    </head>
    <body>
        <h3>Score Chart</h3>
        <hr />
        <form action="/set" method="POST">
            <!-- 輸入欄定義，懂都懂 -->
            <label for="ScoreName">Score Name</label>
            <input type="text" name="ScoreName" id="ScoreName" />
            <br />
            <br />
            <label for="Score">Score</label>
            <input type="text" name="Score" id="Score" />
            <br />
            <button>submit</button>
        </form>
        <h3>Dictionary Output:</h3>
        <ul>
            {% for key, value in my_dict.items() %}
            <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
